VegetableImages/
testOutputs/

*.jpg
mlruns
test_visualizations
training_logs
*.h5
*.zip
logs/
tensorboard/

*.png
*.txt
/safe-data
/Data
/model_8.pth
/model_1.pth
/model_2.pth
/model_3.pth
/model_4.pth
/model_5.pth
